<h1><b>RAID</b></h1>
<h2>Normativa y materiales</h2>
	<p>- PENALIZACIONES Y NORMATIVA</p>
	<p><b>Articulo 1. Objeto de las Normas</b></p>
	<p>1. Las presentes normas tienen por objeto regular aspectos específicos aplicables al III RAID VALLE DEL IREGUA. </p>
	<p><b>Articulo 2. Ámbito de aplicación.</b></p>
	<p>1. Todo directivo, organizador, técnico o deportista que actúe en ellas tiene el deber de conocer y la obligación de respetar y cumplir su contenido.</p>
	<p><b>Articulo 3. Condiciones de participación</b></p>
	<p>1. El Raid de Aventura es una competición que al desarrollarse en el medio natural, en lugares de difícil control y acceso, conlleva un importante riesgo para los participantes. Su larga duración, su desarrollo en condiciones de autonomía, las múltiples disciplinas y pruebas especiales que intervienen requieren que los deportistas posean una variedad suficiente de capacidades físicas, destrezas técnicas y recursos de supervivencia como para garantizar su propia seguridad durante el desarrollo de la prueba.</p>
	<p>2. A efectos de dejar constancia escrita de haber sido informados de estas condiciones de participación, los participantes deberán firmar el modelo de declaración que facilitará la organización.</p>
	<p><b>Articulo 4. Requisitos generales</b></p>
	<p>1. Son requisitos generales para la participación en el III RAID VALLE DEL IREGUA:</p>
	<p>- Ser mayor de edad</p>
	<p>- Estar reglamentariamente inscrito en la competición.</p>
	<p>- Poseer las capacidades físicas y técnicas suficientes para afrontar estas pruebas.</p>
	<p><b>Articulo 5. Composición de los equipos para participar en el III RAID VALLE DEL IREGUA</b></p>
	<p>1. Los equipos estarán formados por dos raiders.</p>
	<p>2. Los equipos podrán competir en 3 categorías dentro de la modalidad de aventura: </p>
	<p>- Masculina: cuando todos los componentes del equipo sean varones.</p>
	<p>- Mixta: cuando el raid sea disputado con componentes de distinto sexo.</p>
	<p>- Femenina: cuando todos los componentes del equipo sean féminas.</p>
	<p>Para la modalidad de SOLO CORRER existen las mismas categorías.</p>
	<p><br><b>Articulo 6. Obligaciones generales de los equipos</b></p>
	<p>1. Todos los componentes del equipo tienen la obligación de conocer las presentes normas y reglas particulares de la competición, de seguir rigurosamente las normas y protocolos de seguridad establecidos en el transcurso del recorrido y de acatar las decisiones de los jueces durante la competición.</p>
	<p>2. Todos ellos deberán estar debidamente acreditados para ejercer la actividad o función que les sea propia.</p>
	<p><b>Articulo 7. Horario de la prueba y Penalizaciones</b></p>
	<p>1. Penalizaciones por punto de control obligatorio no realizado  (en caso de que hubiese alguno obligatorio): la no consecución de un punto de control obligatorio conllevará la pérdida de todos los puntos conseguidos por el equipo en esa sección.</p>
	<p>2. Penalización por horarios. Debido al sistema de organización de este raid se establece que aquellos corredores que lleguen más tarde de la hora de cierre irán perdiendo puntos en la siguiente proporción.
		<br>Se establece una penalización de 3 puntos por cada fracción de minuto que se llegue tarde.(Ejemplo: si se llega a las 17:00:01 --> -3 puntos; a las 17:01:01 --> -6 puntos; a las 17:02:01 --> -9 puntos)
		<br>Aquellos corredores que lleguen a las 17:30:01 perderán los puntos de todo el raid</p>
	<p>3. Penalización por no llegar a la hora de cierre de salida de una sección: el equipo no podrá realizar la sección siguiente.</p>
	<p>4. Resto de penalizaciones: todas las penalizaciones por infracciones deportivas aplicables según el Reglamento se aplicarán en puntos. Así, a modo de ejemplo, se aplicará una penalización de 6 puntos a las infracciones deportivas más frecuentes: 
		<br>- por cada componente del material obligatorio que no se lleve encima
		<br>- por abandonar basura
		<br>- por progresar en terreno prohibido. Hay carreteras prohibidas.
		<br>Estas penalizaciones se restarán de la puntuación final del raid del equipo infractor.</p>
	<p>5. Implicará la descalificación del equipo, entre otros motivos expresados en el Reglamento, la infracción de normas de seguridad, la progresión en solitario, la recepción de ayuda fuera de los puntos de asistencia, el uso de GPS u otros medios de orientación y progresión expresamente prohibidos.</p>

	<p>6. Es responsabilidad de los equipos el conocer y comprender todas las penalizaciones y condiciones de éstas.</p>
	<p><b>Articulo 8. Jurado técnico en cada prueba</b></p>
	<p>1. En la prueba habrá un jurado técnico que se encargará de valorar y tomar decisiones sobres las posibles reclamaciones que pueda haber.</p>
	<p>2. El jurado técnico estará compuesto por el director de la carrera, un representante de la LINRA 2019 (ajeno a la organización en la prueba en cuestión) y un corredor.</p>
	<p>3. El jurado técnico será nombrado y hecho público antes del comienzo de la competición.</p>
	<p><br>MATERIALES</p>
	<p><b>1.- Material obligatorio durante todo el raid:</b></p>
	<p>* Por Equipo: </p>
	<p>1 botiquín: esparadrapo, gasas, venda, antiséptico, analgésicos, antiinflamatorios.    
<br>1 teléfono móvil.  Se deberá llevar apagado en marcha. Recomendable explicar al compañero como se desbloquea y el pin.  
<br>1 brújula.    
<br>1 funda porta-mapas.</p>
	<p>*  Por Raider:</p>
	<p>chaqueta cortaviento.
<br>1 bidón, camelbak o cantimplora con capacidad de un
<br>1 mochila con capacidad para llevar todo el material obligatorio por sector.    
<br>1 manta térmica.
<br>1 silbato.  
<br>1 buff o gorra </p>
	<p><b>2.- Material Obligatorio por disciplina:</b></p>
	<p>* BTT  (EXCEPTO CATEGORIA SOLO CORRER)</p>
	<p>Por Equipo: 1 kit de reparaciones BTT.    
<br>Por Raider:
<br>1 bicicleta de Montaña.
<br>1 casco homologado para ciclismo.  
<br>* Carrera a pie: no hay material extra.    (Recomendable dos pares)
<br>* Manejo de cuerdas (SE CONCRETARÁ MÁS ADELANTE)  
<br><br>Material prohibido:
 <br> - Equipos de comunicación (walkie talkie).   - Sistemas electrónicos de navegación (GPS).</p>