<table width="100%">
	<tr>
		<td class="title_naranja" align="center"><b>ESCUELA DE BRUJULINES</b></td>
	</tr>
</table>
<div class='contents'>
<table>
	<tr>
		<td class="title_naranja" align="left">&Aacute;reas de ense&ntilde;anza</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>
				Interpretaci&oacute;n de mapas
				<ul>
					<li>Simbolog&iacute;a</li>
					<li>Escala</li>
					<li>Equidistancia</li>
					<li>Coordenadas</li>
					<li>Diferentes tipos de mapas</li>
				</ul>
			</li>
			<li>
				Normativas deporte orientaci&oacute;n
				<ul>
					<li>Simbolog&iacute;a descripci&oacute;n de controles</li>
					<li>Normas de competici&oacute;n
						<ul>
							<li>Sistema de control</li>
							<li>Salida y llegada</li>
							<li>Juego limpio</li>
						</ul>
					</li>
					<li>Modalidades: a pie, en bici, raid, rogaine, esqu&iacute;, precisi&oacute;n</li>
					<li>Tipos de competici&oacute;n: individual, relevos, rogaine, recorrido libre</li>
				</ul>
			</li>
			<li>
				T&eacute;cnicas de orientaci&oacute;n
				<ul>
					<li>B&aacute;sicas
						<ul>
							<li>Orientar el mapa con y sin br&uacute;jula</li>
							<li>Trazar rumbos y plegado de mapa</li>
							<li>Lectura somera y lectura precisa</li>
							<li>Elecci&oacute;n de punto de ataque y l&iacute;nea de parada</li>
							<li>Relocalizaci&oacute;n</li>
						</ul>
					</li>
					<li>Avanzadas
						<ul>
							<li>Simplificar</li>
							<li>Alargar el control</li>
							<li>Embudo</li>
							<li>Correr en paralelo</li>
							<li>Buscar el detalle caracter&iacute;stico</li>
							<li>Estimaci&oacute;n de distancias</li>
							<li>Elecci&oacute;n de ruta</li>
							<li>Planificar la carrera</li>
							<li>Atenci&oacute;n y concentraci&oacute;n</li>
							<li>Rememoraci&oacute;n</li>
							<li>Correr en grupo en relevos o salidas en masa</li>
							<li>Toma de decisiones conjunta</li>
							<li>Gesti&oacute;n de los errores en carrera</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Trazados</li>
			<li>Cartograf&iacute;a</li>
			<li>Cronometraje Sport-Ident</li>
			<li>Coordinaci&oacute;n de pruebas</li>
			<li>Primeros auxilios</li>
			<li>Conocimiento medioambiental</li>
			<li>Entrenamiento de alto nivel: f&iacute;sico, t&eacute;cnico y mental</li>
		</ul>
		</td>
	</tr>
</table>
</div>
