<h1><b>ESCUELA DE BRUJULINES</b></h1>
<h2>Áreas de enseñanza</h2>
<ul>
	<li>
		Interpretación de mapas
		<ul>
			<li>Simbología</li>
			<li>Escala</li>
			<li>Equidistancia</li>
			<li>Coordenadas</li>
			<li>Diferentes tipos de mapas</li>
		</ul>
	</li>
	<li>
		Normativas deporte orientación
		<ul>
			<li>Simbología descripción de controles</li>
			<li>Normas de competición
				<ul>
					<li>Sistema de control</li>
					<li>Salida y llegada</li>
					<li>Juego limpio</li>
				</ul>
			</li>
			<li>Modalidades: a pie, en bici, raid, rogaine, esquí, precisión</li>
			<li>Tipos de competición: individual, relevos, rogaine, recorrido libre</li>
		</ul>
	</li>
	<li>
		Técnicas de orientación
		<ul>
			<li>BÁsicas
				<ul>
					<li>Orientar el mapa con y sin brújula</li>
					<li>Trazar rumbos y plegado de mapa</li>
					<li>Lectura somera y lectura precisa</li>
					<li>Elección de punto de ataque y línea de parada</li>
					<li>Relocalización</li>
				</ul>
			</li>
			<li>Avanzadas
				<ul>
					<li>Simplificar</li>
					<li>Alargar el control</li>
					<li>Embudo</li>
					<li>Correr en paralelo</li>
					<li>Buscar el detalle característico</li>
					<li>Estimación de distancias</li>
					<li>Elección de ruta</li>
					<li>Planificar la carrera</li>
					<li>Atención y concentración</li>
					<li>Rememoración</li>
					<li>Correr en grupo en relevos o salidas en masa</li>
					<li>Toma de decisiones conjunta</li>
					<li>Gestión de los errores en carrera</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>Trazados</li>
	<li>Cartografía</li>
	<li>Cronometraje Sport-Ident</li>
	<li>Coordinación de pruebas</li>
	<li>Primeros auxilios</li>
	<li>Conocimiento medioambiental</li>
	<li>Entrenamiento de alto nivel: físico, técnico y mental</li>
</ul>