<div  class="centrado">
<h1>ADMINISTRACIÓN CRON</h1>
<img src="../../../../assets/images/CRON.jpg" width="200"/>
<br><br>
<div class="example-container">
    <div [formGroup]="loginForm">
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" required>
            <mat-error *ngIf="this.loginForm.get('usuario').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="this.loginForm.get('password').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="!this.loginForm.valid" (click)="onSubmit()">Submit</button>
</div>