<h1><b>NUESTROS MAPAS</b></h1>

<p>Estos son nuestros mapas, nuestras instalaciones deportivas que nos permiten practicar la orientación. <button mat-raised-button (click)="val('listado')">Ver listado</button> </p>
<p>Un mapa de orientación es una obra cartográfica elaborada con mucha dedicación por cartógrafos especializados. El CRON promueve la creación de nuevos mapas y se encarga de la gestión y actualización de los mismos. Contamos para este desarrollo cartográfico con recursos propios, con el apoyo de diversas instituciones y sobre todo con el trabajo desinteresado de nuestros técnicos y cartógrafos.</p>
<p><b>Con la entrada en vigor de la nueva Ley del Ejercicio Físico y del Deporte de La Rioja (Ley 1/2015 de 23 de marzo) se reconocen en esta comunidad autónoma a los mapas de orientación como instalaciones deportivas. Surge de ahí una necesidad de regular su uso. Por ese motivo ha procedido el CRON a registrar sus mapas en la propiedad intelectual  y establecer unas normas de uso de los mismos.</b></p>
<p>Para usar (reproducir o publicar) cualquier mapa del CRON se ha de hacer una petición formal al club, con al menos 15 días de antelación al uso previsto, rellenando el siguiente <b>formulario.</b> <button mat-raised-button (click)="val('solicitud')">Ir al formulario</button> </p>

<p><br>PROYECTO "UN COLE UN MAPA". <button mat-raised-button (click)="val('colemapa')">Infórmate aquí</button></p>

<br>
<iframe src="https://www.google.com/maps/d/embed?mid=zonwU2pihgBY.krY1U7XCPMKc" width="940" height="555"></iframe>