<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Inicio</button>
      </div>
    </div>

    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Brujulines</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Presentación</button>
          <button ngbDropdownItem>Técnicos responsables</button>
          <button ngbDropdownItem>Objetivos y filosofía</button>
          <button ngbDropdownItem>Áreas de enseñanza</button>
          <button ngbDropdownItem>Niveles de los cronetes</button>
        </div>
      </div>
    </div>

    <div class="col">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Orientación</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>¿Qué es?</button>
            <button ngbDropdownItem>Primera carrera</button>
            <button ngbDropdownItem>Hoja de descripción</button>
            <button ngbDropdownItem>Descargas</button>
        </div>
        </div>
    </div>

    <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Mapas</button>
        </div>
      </div>

      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Raid</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Inicio</button>
            <button ngbDropdownItem>Mi primer Raid</button>
            <button ngbDropdownItem>Programa</button>
            <button ngbDropdownItem>Normativa</button>
            <button ngbDropdownItem>Información práctica</button>
            <button ngbDropdownItem>Boletines y libros de ruta</button>
            <button ngbDropdownItem>Inscripciones</button>
            <button ngbDropdownItem>Clasificaciones</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Club</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Actividades</button>
            <button ngbDropdownItem>Guía</button>
        </div>
        </div>
    </div>

    <div class="col">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Noticias</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Hoy</button>
            <button ngbDropdownItem>Última semana</button>
            <button ngbDropdownItem>Último mes</button>
            <button ngbDropdownItem>Todas</button>
        </div>
        </div>
    </div>

    <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Enlaces</button>
        </div>
      </div>

      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Administración</button>
        </div>
      </div>
</div>

