<div>
	<mat-toolbar>
    <button mat-button (click)="sub(1)" routerLink="/home">Inicio</button>
    <button mat-button (click)="sub(2)" routerLink="/brujulines">Brujulines</button>
    <button mat-button (click)="sub(3)" routerLink="/orientacion">Orientación</button>
    <button mat-button (click)="sub(4)" routerLink="/mapas">Mapas</button>
    <button mat-button (click)="sub(5)" routerLink="/raid">Raid</button>
    <button mat-button (click)="sub(6)" routerLink="/club">Club</button>
    <button mat-button (click)="sub(7)" routerLink="/noticias">Noticias</button>
    <button mat-button (click)="sub(8)" routerLink="/enlaces">Enlaces</button>
    <button mat-button (click)="sub(9)" routerLink="/administracion">Administración</button>
	</mat-toolbar>
</div>