<h1><b>CLASIFICACIONES</b></h1>
<mat-nav-list>
    <a mat-list-item href="../../../../assets/raid/Rtados_RaidIregua1.xlsx" target="_blank">AQUÍ PUEDES DESCARGAR LAS CLASIFICACIONES 1ER RAID VALLE DEL IREGUA</a>
    <a mat-list-item href="../../../../assets/raid/Rtados_RaidIregua2.docx" target="_blank">AQUÍ PUEDES DESCARGAR LAS CLASIFICACIONES 2DO RAID VALLE DEL IREGUA</a>
    <a mat-list-item href="../../../../assets/raid/RtadosIregua2019.xlsx" target="_blank">AQUÍ PUEDES DESCARGAR LAS CLASIFICACIONES 3ER RAID VALLE DEL IREGUA</a>
</mat-nav-list>
	
