<table width="100%">

	<tr>

		<td class="title_naranja" align="center"><b>ESCUELA DE BRUJULINES</b></td>

	</tr>

</table>

<div class='contents'>

<table>

	<tr>

		<td class="title_naranja" align="left"><br>T&eacute;cnicos responsables</td>

	</tr>

	<tr>

		<td class="txt_11_negro" align="left"><br><b>Alfonso Bustillo Ruiz</b>: Licenciado en Ciencias de la Actividad F&iacute;sica y del Deporte. T&eacute;cnico de Nivel II de orientaci&oacute;n. Miembro de la selecci&oacute;n española de orientaci&oacute;n entre 1999 y 2005.</td>

	</tr>	

	<tr>

		<td class="txt_11_negro" align="left"><br><b>Javier Jim&eacute;nez</b>: Licenciado en Ciencias de la Actividad F&iacute;sica y del Deporte. Corredor de Raids de Aventura y organizador de eventos deportivos.</td>

	</tr>

	<tr>

		<td class="txt_11_negro" align="left"><br><b>Pablo Bustillo Ruiz</b>: T&eacute;cnico de Nivel I de orientaci&oacute;n. Corredor y organizador de eventos de orientaci&oacute;n.</td>

	</tr>
	<tr align="center">	

		<td>

			<br><img src="../../../../assets/images/brujulin_texto.jpg" border="0" width="360" height="270">				

		</td>

	</tr>

</table>

</div>
