<h1><b>ESCUELA DE BRUJULINES</b></h1>
<h2>Técnicos responsables</h2>
<mat-list>
	<mat-list-item><b>Alfonso Bustillo Ruiz</b>: Licenciado en Ciencias de la Actividad Física y del Deporte. Técnico de Nivel II de orientación. Miembro de la selección española de orientación entre 1999 y 2005.</mat-list-item>
	<mat-list-item><b>Javier Jiménez</b>: Licenciado en Ciencias de la Actividad Física y del Deporte. Corredor de Raids de Aventura y organizador de eventos deportivos.</mat-list-item>
	<mat-list-item><b>Pablo Bustillo Ruiz</b>: Técnico de Nivel I de orientación. Corredor y organizador de eventos de orientación.</mat-list-item>
</mat-list>
<br><img src="../../../../assets/images/brujulin_texto.jpg" border="0" width="360" height="270">				

