<div class="fb-page" data-href="https://www.facebook.com/orientacron" data-tabs="timeline" data-width="700" data-height="320" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
    <blockquote cite="https://www.facebook.com/orientacron" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/orientacron">Club Riojano De Orientación En La Naturaleza</a>
    </blockquote>
</div>
<br><br>
<div class="texto"><a href="http://liganortecron.blogspot.com.es/">Visita nuestro blog para más información sobre nuestras carreras</a></div>
<br>