<h1><b>PROYECTO "UN COLE UN MAPA"</b></h1>
<p><b>Nos proponemos conseguir que cada centro educativo riojano cuente con un mapa de orientaci&oacute;n para poder practicar este deporte.</b></p>
	<p>El deporte de orientaci&oacute;n destaca por sus valores educativos, por compaginar la actividad f&iacute;sica e intelectual, por su gran componente l&uacute;dico y por su peculiaridad de posibilitar el trabajo de contenidos educativos transversales. Encontrar cada baliza supone una motivaci&oacute;n y est&iacute;mulo para conseguir la mejora personal.</p>
	<p>En las leyes y normativas que regulan el actual sistema educativo espa&ntilde;ol se enumeran, entre otros, los contenidos relativos a actividades en la naturaleza y orientaci&oacute;n que se han de trabajar en las correspondientes etapas educativas.</p>
	<p>En Educaci&oacute;n Primaria se clasifican los contenidos en funci&oacute;n de diferentes situaciones motrices. Entre las acciones motrices en situaciones de adaptaci&oacute;n al entorno f&iacute;sico se citan las actividades de orientaci&oacute;n y los grandes juegos en la naturaleza (de pistas, de aproximaci&oacute;n y otros).</p>
	<p>En Educaci&oacute;n Secundaria se citan los siguientes contenidos por cursos:</p>
		<ul>
			<li>Primer curso de Educaci&oacute;n Secundaria Obligatoria:
				<ul>
					<li>Realizaci&oacute;n de recorridos preferentemente en el medio natural y de juegos en la naturaleza</li>
					<li>La colaboraci&oacute;n y la toma de decisiones en equipo</li>
				</ul>
			</li>
			<li>Segundo curso de Educaci&oacute;n Secundaria Obligatoria:
				<ul>
					<li>Realizaci&oacute;n de recorridos de orientaci&oacute;n, preferentemente en el medio natural, a partir de la identificaci&oacute;n de se&ntilde;ales de rastreo y de la utilizaci&oacute;n de mapas</li>
					<li>Normas de seguridad que se han de tener en cuenta para la realizaci&oacute;n de recorridos de orientaci&oacute;n en el medio urbano y en el natural</li>
					<li>Aceptaci&oacute;n de las normas de seguridad y protecci&oacute;n en la realizaci&oacute;n de actividades de orientaci&oacute;n. Nociones b&aacute;sicas de supervivencia</li>
				</ul>
			</li>
			<li>Tercer curso de Educaci&oacute;n Secundaria Obligatoria:
				<ul>
					<li>La colaboraci&oacute;n y la toma de decisiones en equipo</li>
				</ul>
			</li>
		</ul>
	<p>Como se puede comprobar el deporte de orientaci&oacute;n es un contenido fundamental en el sistema educativo espa&ntilde;ol. Pero muchas veces es dif&iacute;cil de practicarlo por la falta de instalaciones: no todos los centros educativos disponen de un mapa de orientaci&oacute;n adecuado para practicar este deporte. Utilizamos el t&eacute;rmino "instalaci&oacute;n deportiva" para referirnos a un mapa de orientaci&oacute;n, pues dibujar el terreno conforme a unas normas definidas internacionalmente es una adaptaci&oacute;n necesaria para practicar este deporte. Adem&aacute;s, as&iacute; se ha reconocido en la novedosa <b>Ley del Ejercicio F&iacute;sico y del Deporte de La Rioja (Ley 1/2015 de 23 de marzo)</b>, la primera ley auton&oacute;mica sobre el deporte en Espa&ntilde;a que reconoce a los mapas de orientaci&oacute;n como instalaciones deportivas.</p>
	<p>Por este motivo nace este proyecto UN COLE UN MAPA, con la idea de conseguir que cada centro educativo riojano disponga de un mapa de orientaci&oacute;n, del mismo centro o de sus alrededores, para que puedan practicar sus alumnos este deporte y cumplir con los objetivos educativos propuestos.</p>
	<p>C&Oacute;MO DESARROLLARLO</p>
	<p>Cada centro educativo interesado en disponer de un mapa de orientaci&oacute;n se puede poner en contacto con el CRON para estudiar cada caso concreto. Los t&eacute;cnicos del CRON evaluar&aacute;n el terreno y las posibilidades para la pr&aacute;ctica del deporte de orientaci&oacute;n. Tambi&eacute;n se estudiar&aacute;n las formas de financiaci&oacute;n de la nueva instalaci&oacute;n deportiva, intentando el apoyo econ&oacute;mico de las administraciones locales y/o auton&oacute;mica.</p>
	<p>Cada a&ntilde;o, coincidiendo con el D&iacute;a Mundial de la Orientaci&oacute;n (cuarto mi&eacute;rcoles de mayo) se actualizar&aacute; el censo de mapas en La Rioja y se comprobar&aacute; el estado y avance de este proyecto.</p>
	<p>Si quieres tener un mapa en tu cole contacta con el CRON: <a href="mailto:info@orientacron.es">info@orientacron.es</a></p>
p
