<h1><b>INSCRIPCIONES</b></h1>
	<p>Pasos a seguir:</p>
	<p>PASO 1 - Conseguir los datos de ambos miembros.</p>
	<p>PASO 2 -  Rellenar el documento  de google docs con los datos de cada corredor/a de la pareja.</p>
	<p>PASO 3 - Hacer el ingreso en el número de cuenta que os ponemos a continuación 70€* por pareja refiriendo vuestro nombre del equipo en concepto "RVI nombre equipo".
<br><br>*Los corredores que no dispongan de sportident deberán abonar 2€ por corredor que deba alquilarlo.
<br>72€ si uno de la miembros de la pareja no tiene sportident
<br>74€ si los dos miembros de la pareja no tienen sportident</p>
	<p>Titular cuenta: CLUB RIOJANO ORIENTACIÓN NATURALEZA
<br>Entidad: TRIODOS
<br>IBAN: ES36 1491 0001 22 2036407514
<br>No podemos garantizar que haya obsequios para todos los que se hayan inscrito desde el 15 de junio.
<br>Último día de inscripción el 25 de junio a las 23:59:59</p>
	<p>PASO 4 - Mandar al email: raid@orientacron.es el resguardo de la transferencia. </p>
	<p>PASO 5 - Revisar unos días antes de la carrera que estáis inscritos.	</p>
	<p>El precio incluye:</p>
		<ul>
			<li>2 Juegos de mapas
			<li>1 Roadbook
			<li>Seguro
			<li>Obsequios
			<li>Asistencia sanitaria
			<li>Avituallamientos
			<li>Cronometraje Sportident
			<li>Comida final
			<li>Premios 
			<li>Sorteos
		</ul>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSepFSlGiny74JerI-Gp2v9GPUG-j-OuDoYNLgg380If2kfY7A/viewform?embedded=true" width="800" height="4100" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>