<h1><b>ESCUELA DE BRUJULINES</b></h1>
<h2>Niveles de los cronetes</h2>
<h3>BRUJULÍN BLANCO</h3>
<ul>
	<li>Sabe diferenciar los colores del mapa y lo que significan.</li>
	<li>Sabe orientar el mapa con la brújula.</li>
	<li>Pica bien la baliza en la casilla correspondiente.</li>
	<li>Sabe identificar la zona de salida y meta y el orden de las balizas para hacer un recorrido.</li>
	<li>Conoce las normas básicas: pasar por meta siempre, aunque no se hayan encontrado todas las balizas; dar las gracias al organizador al acabar; hacer el recorrido en silencio; no seguir a otros participantes; ayudar a quien esté lesionado.</li>
</ul>		
<h3>BRUJULÍN AMARILLO</h3>
<ul>
	<li>Sabe participar con una pinza electrónica.</li>
	<li>Conoce los sÍmbolos principales del mapa.</li>
	<li>Sabe orientar el mapa sin brújula.</li>
	<li>Piensa primero y corre después.</li>
	<li>Sabe volver al último lugar donde tenÍa identificado mapa-terreno.</li>
	<li>Distingue entre caminos de diferentes tama&ntilde;os.</li>
	<li>Sabe identificar cruces de caminos y otros elementos lineales (tendidos eléctricos, arroyos, vallas...).</li>
	<li>Conoce el significado de las columnas de la hoja de descripción de controles.</li>
</ul>		
<h3>BRUJULÍN NARANJA</h3>
<ul>
	<li>Hace recorridos de iniciación y open sin ayuda.</li>
	<li>Conoce el significado de escala y equidistancia.</li>
	<li>Tiene el mapa orientado en todo momento y sabe dónde está. Domina la técnica del pulgar.</li>
	<li>Sabe identificar relieve básico: colinas, cotas, grandes vaguadas y espolones.</li>
	<li>Sabe identificar elementos de vegetación básicos: claros, verdes impasables, bosque blanco.</li>
	<li>Sabe hacer rumbos con la brújula.</li>
	<li>Sabe pintar su recorrido al acabar.</li>
	<li>Conoce todos los sÍmbolos del mapa de orientación.</li>
	<li>Conoce los diferentes sistemas de participación: salida por hora asignada, salida con baliza start, salida en masa, salida a la caza.</li>
	<li>Conoce los cuidados medio ambientales básicos en la práctica del deporte de orientación.</li>
</ul>		
<h3>BRUJULÍN VERDE</h3>
<ul>
	<li>Hace recorridos de su categorÍa sin ayuda.</li>
	<li>Sabe distinguir entre pequeñas vaguadas y espolones.</li>
	<li>Sabe hacer un rumbo preciso con la brújula.</li>
	<li>Sabe estimar distancias a menos de 100 metros.</li>
	<li>Conoce todos los sÍmbolos de la descripción de controles.</li>
	<li>Conoce técnicas avanzadas de orientación: simplificar, embudo, correr en paralelo, alargar el control, correr a curva de nivel.</li>
	<li>Sabe evaluar con autonomÍa la carrera, los errores y otras alternativas en las elecciones de ruta.</li>
	<li>Sabe imaginarse cómo estarÍa dibujado el terreno con normativa de orientación y hacerse asÍ un mapa mental.</li>
	<li>Realiza el calentamiento adecuadamente, con puesta a punto fÍsica y mental.</li>
	<li>Ha participado en alguna prueba de relevos.</li>
	<li>Ha completado algún rogaine.</li>
</ul>		
<h3>BRUJULÍN AZUL</h3>
<ul>
	<li>Saber leer relieve complejo: mapas de dunas o terreno kárstico con relieve negativo.</li>
	<li>Sabe distinguir elementos rocosos complejos.</li>
	<li>Sabe identificar elementos de vegetación complejos: árboles singulares, lÍmites de vegetación, diferencia tonos de verdes, pequeños claros.</li>
	<li>Sabe estimar distancias hasta 200 metros.</li>
	<li>Elige y aplica correctamente técnicas avanzadas: simplificar, embudo, correr en paralelo, alargar el control, correr a curva de nivel.</li>
	<li>Conoce la normativa especÍfica de mapas Sprint.</li>
	<li>Conoce la normativa especÍfica de mapas de MTBO, Ski-O y Precisión, si participa en estas pruebas.</li>
	<li>Sabe leer el mapa mientras corre y hacer Microstop.</li>
	<li>Sabe hacer entrenamientos simulados.</li>
</ul>		
<h3>BRUJULÍN MARRÓN</h3>
<ul>
	<li>Ha completado correctamente recorridos en mapas de diferentes terrenos: dunas, montaña con rocas, bosque mediterráneo, terreno kárstico, terreno continental.</li>
	<li>Sabe estimar distancias a más de 200 metros.</li>
	<li>Ha completado correctamente carreras nocturnas por caminos y terrenos sencillos.</li>
	<li>Sabe distinguir entre tramos rápidos y lentos.</li>
	<li>Puede planificar la carrera al poco tiempo de ver el mapa.</li>
	<li>Sabe utilizar elementos externos para evaluar el rendimiento: GPS, Split-times, pulsómetro...</li>
</ul>		
<h3>BRUJULÍN NEGRO</h3>
<ul>
	<li>Planifica rutas complejas.</li>
	<li>Ha completado recorridos en mapas nórdicos complejos.</li>
	<li>Ha completado carreras nocturnas en terrenos complicados.</li>
	<li>Distingue entre táctica y estrategia.</li>
	<li>Sabe refocalizar la atención en competición.</li>
	<li>Sabe correr en las diferentes postas de un relevo.</li>
	<li>Es capaz de participar en pruebas de O-Precisión y tener más de un 60% de aciertos.</li>
</ul>		
<h3>SUPERBRUJULÍN</h3>
<ul>
	<li>Acaba las carreras sólo y no se retira nunca.</li>
</ul>		