<h1><b>ESCUELA DE BRUJULINES</b></h1>
<div class='contents'>
<table>
	<tr>
		<h2>BRUJUL&Iacute;N BLANCO</h2>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>Sabe diferenciar los colores del mapa y lo que significan.</li>
			<li>Sabe orientar el mapa con la br&uacute;jula.</li>
			<li>Pica bien la baliza en la casilla correspondiente.</li>
			<li>Sabe identificar la zona de salida y meta y el orden de las balizas para hacer un recorrido.</li>
			<li>Conoce las normas b&aacute;sicas: pasar por meta siempre, aunque no se hayan encontrado todas las balizas; dar las gracias al organizador al acabar; hacer el recorrido en silencio; no seguir a otros participantes; ayudar a quien est&eacute; lesionado.</li>
		</ul>		
		</td>
	</tr>
	<tr>
		<td class="title_naranja" align="left">BRUJUL&Iacute;N AMARILLO</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>Sabe participar con una pinza electr&oacute;nica.</li>
			<li>Conoce los s&iacute;mbolos principales del mapa.</li>
			<li>Sabe orientar el mapa sin br&uacute;jula.</li>
			<li>Piensa primero y corre despu&eacute;s.</li>
			<li>Sabe volver al &uacute;ltimo lugar donde ten&iacute;a identificado mapa-terreno.</li>
			<li>Distingue entre caminos de diferentes tama&ntilde;os.</li>
			<li>Sabe identificar cruces de caminos y otros elementos lineales (tendidos el&eacute;ctricos, arroyos, vallas...).</li>
			<li>Conoce el significado de las columnas de la hoja de descripci&oacute;n de controles.</li>
		</ul>		
		</td>
	</tr>
	<tr>
		<td class="title_naranja" align="left">BRUJUL&Iacute;N NARANJA</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>Hace recorridos de iniciaci&oacute;n y open sin ayuda.</li>
			<li>Conoce el significado de escala y equidistancia.</li>
			<li>Tiene el mapa orientado en todo momento y sabe d&oacute;nde est&aacute;. Domina la t&eacute;cnica del pulgar.</li>
			<li>Sabe identificar relieve b&aacute;sico: colinas, cotas, grandes vaguadas y espolones.</li>
			<li>Sabe identificar elementos de vegetaci&oacute;n b&aacute;sicos: claros, verdes impasables, bosque blanco.</li>
			<li>Sabe hacer rumbos con la br&uacute;jula.</li>
			<li>Sabe pintar su recorrido al acabar.</li>
			<li>Conoce todos los s&iacute;mbolos del mapa de orientaci&oacute;n.</li>
			<li>Conoce los diferentes sistemas de participaci&oacute;n: salida por hora asignada, salida con baliza start, salida en masa, salida a la caza.</li>
			<li>Conoce los cuidados medio ambientales b&aacute;sicos en la pr&aacute;ctica del deporte de orientaci&oacute;n.</li>
		</ul>		
		</td>
	</tr>
	<tr>
		<td class="title_naranja" align="left">BRUJUL&Iacute;N VERDE</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>Hace recorridos de su categor&iacute;a sin ayuda.</li>
			<li>Sabe distinguir entre pequeñas vaguadas y espolones.</li>
			<li>Sabe hacer un rumbo preciso con la br&uacute;jula.</li>
			<li>Sabe estimar distancias a menos de 100 metros.</li>
			<li>Conoce todos los s&iacute;mbolos de la descripci&oacute;n de controles.</li>
			<li>Conoce t&eacute;cnicas avanzadas de orientaci&oacute;n: simplificar, embudo, correr en paralelo, alargar el control, correr a curva de nivel.</li>
			<li>Sabe evaluar con autonom&iacute;a la carrera, los errores y otras alternativas en las elecciones de ruta.</li>
			<li>Sabe imaginarse c&oacute;mo estar&iacute;a dibujado el terreno con normativa de orientaci&oacute;n y hacerse as&iacute; un mapa mental.</li>
			<li>Realiza el calentamiento adecuadamente, con puesta a punto f&iacute;sica y mental.</li>
			<li>Ha participado en alguna prueba de relevos.</li>
			<li>Ha completado alg&uacute;n rogaine.</li>
		</ul>		
		</td>
	</tr>
	<tr>
		<td class="title_naranja" align="left">BRUJUL&Iacute;N AZUL</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>Saber leer relieve complejo: mapas de dunas o terreno k&aacute;rstico con relieve negativo.</li>
			<li>Sabe distinguir elementos rocosos complejos.</li>
			<li>Sabe identificar elementos de vegetaci&oacute;n complejos: &aacute;rboles singulares, l&iacute;mites de vegetaci&oacute;n, diferencia tonos de verdes, pequeños claros.</li>
			<li>Sabe estimar distancias hasta 200 metros.</li>
			<li>Elige y aplica correctamente t&eacute;cnicas avanzadas: simplificar, embudo, correr en paralelo, alargar el control, correr a curva de nivel.</li>
			<li>Conoce la normativa espec&iacute;fica de mapas Sprint.</li>
			<li>Conoce la normativa espec&iacute;fica de mapas de MTBO, Ski-O y Precisi&oacute;n, si participa en estas pruebas.</li>
			<li>Sabe leer el mapa mientras corre y hacer Microstop.</li>
			<li>Sabe hacer entrenamientos simulados.</li>
		</ul>		
		</td>
	</tr>
		<tr>
		<td class="title_naranja" align="left">BRUJUL&Iacute;N MARR&Oacute;N</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>Ha completado correctamente recorridos en mapas de diferentes terrenos: dunas, montaña con rocas, bosque mediterr&aacute;neo, terreno k&aacute;rstico, terreno continental.</li>
			<li>Sabe estimar distancias a m&aacute;s de 200 metros.</li>
			<li>Ha completado correctamente carreras nocturnas por caminos y terrenos sencillos.</li>
			<li>Sabe distinguir entre tramos r&aacute;pidos y lentos.</li>
			<li>Puede planificar la carrera al poco tiempo de ver el mapa.</li>
			<li>Sabe utilizar elementos externos para evaluar el rendimiento: GPS, Split-times, puls&oacute;metro...</li>
		</ul>		
		</td>
	</tr>
	<tr>
		<td class="title_naranja" align="left">BRUJUL&Iacute;N NEGRO</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>Planifica rutas complejas.</li>
			<li>Ha completado recorridos en mapas n&oacute;rdicos complejos.</li>
			<li>Ha completado carreras nocturnas en terrenos complicados.</li>
			<li>Distingue entre t&aacute;ctica y estrategia.</li>
			<li>Sabe refocalizar la atenci&oacute;n en competici&oacute;n.</li>
			<li>Sabe correr en las diferentes postas de un relevo.</li>
			<li>Es capaz de participar en pruebas de O-Precisi&oacute;n y tener m&aacute;s de un 60% de aciertos.</li>
		</ul>		
		</td>
	</tr>
	<tr>
		<td class="title_naranja" align="left">SUPERBRUJUL&Iacute;N</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>Acaba las carreras s&oacute;lo y no se retira nunca.</li>
		</ul>		
		</td>
	</tr>
</table>
</div>
