<mat-tab-group>
    <mat-tab label="Inicio"> <app-inicio></app-inicio> </mat-tab>
    <mat-tab label="Mi Primer Raid"> <app-primer-raid></app-primer-raid> </mat-tab>
    <mat-tab label="Programa"> <app-programa></app-programa> </mat-tab>
    <mat-tab label="Normativa"> <app-normativa></app-normativa> </mat-tab>
    <mat-tab label="Información práctica"> <app-informacion></app-informacion> </mat-tab>
    <mat-tab label="Boletines y libros de ruta"> <app-boletines></app-boletines> </mat-tab>
    <mat-tab label="Inscripciones"> <app-inscripciones></app-inscripciones> </mat-tab>
    <mat-tab label="Clasificaciones"> <app-clasificaciones></app-clasificaciones> </mat-tab>
  </mat-tab-group>
