<h1><b>ORIENTACIÓN</b></h1>
<h2>Descargas de documentos de orientación</h2>

<mat-nav-list>
    <a mat-list-item href="https://app.box.com/s/2tjr9brzviz9uvg4nrina1ujmm4l0pr0" target="_blank">Especificaciones internacionales para Mapas de Orientaci&oacute;n Sprint</a>
    <a mat-list-item href="https://app.box.com/s/y30b1o4pdcq2c1u83d964cxlfg5b8nki" target="_blank">Nabesar simbolos orientacion</a>
    <a mat-list-item href="https://app.box.com/s/sci9sqb5x2nde8khl8q719xy8sj6uqjf" target="_blank">Nabesar descripcion de controles II</a>
    <a mat-list-item href="http://orienteering.org/resources/mapping/international-specification-for-orienteering-maps-isom-2017/" target="_blank">Especificaciones internacionales para mapas de orientaci&oacute;n</a>
</mat-nav-list>
