<h1><b>RAID</b></h1>
<h2>Mi primer Raid</h2>
	<p>Si aún no has participado en ningún Raid o carrera de aventura seguro que te surgen muchas dudas acerca de la prueba, pero después de la primera experiencia repetirás. </p>
	<p>En la salida recibiréis varios mapa donde vienen representados todas las pistas, sendas, edificios, bosques, ... del área de carrera, y en el que se indican una serie de puntos de control junto con una puntuación. El objetivo es conseguir el mayor número de puntos posibles en las 7 horas de carrera, a partir de ese tiempo se aplicarán penalizaciones de varios puntos en función del retraso. En la ubicación os encontraréis una baliza de orientación donde registraréis vuestro paso a través de un chip. </p>
	<p>Los mapas consta de dos áreas o secciones bien diferenciadas: una que se hará a pie (trekking) y otras en bici; podéis abordar primero la que prefiráis. </p>
	<p>Algunos de los puntos de control se indican como especiales ya que deberéis completar una prueba para poder obtener los puntos. <b>Las pruebas especiales NO son obligatorias</b>, simplemente son para sumar más puntos. </p>
	<p>Las distancias y desniveles hacen referencia a la ruta óptima para obtener todos los puntos, pero siempre será posible descartar controles para poder recortar y seguir compitiendo ya que <b>NO hay puntos de control obligatorios</b>.</p>
	<p>Antes de la carrera:</p>
		<ul>
			<li>Forma un equipo equilibrado físicamente (trekking y btt), con conocimientos muy básicos de orientación y ganas de aventura.
			<li>Prepara todo el material necesario para cada sección. Llevad en una bolsa o caja por equipo con lo que necesitarás dejar en la transición.
		</ul>
	<p>Durante la carrera:</p>
		<ul>
			<li>Lee el mapa, y diseña una estrategia según el nivel físico y técnico del equipo.
			<li>Dosificad las fuerzas del equipo, comed, hidrataos y avanzad sin forzar a tope ya que la carrera es larga.
			<li>Mantened la concentración leyendo el mapa durante toda la carrera.
			<li>Cuando lleguen los problemas (fallos, cansancio, ...) mantened el ánimo y ayudaos.  
			<li>7 horas es el límite máximo, pero puedes volver a meta en cualquier momento.
			<li>Recordad que sois un equipo.
		</ul>
	<p><a mat-button href="mailto:raid@orientacron.es">raid@orientacron.es</a></p>