<h1 *ngIf="this.par === 1">ÚLTIMAS NOTICIAS</h1>
<h1 *ngIf="this.par === 2">NOTICIAS DE HOY</h1>
<h1 *ngIf="this.par === 3">NOTICIAS DE LA ÚLTIMA SEMANA</h1>
<h1 *ngIf="this.par === 4">NOTICIAS DEL ÚLTIMO MES</h1>
<h1 *ngIf="this.par === 5">TODAS LAS NOTICIAS</h1>
<table>
    <tr *ngFor="let noticia of noticias" class="new-list-item"><td>
        <mat-card class="new-card">
            <mat-card-header>
                <div mat-card-avatar style="background-image: url('../../../../assets/noticias/0.jpg'); background-size: cover;"></div>
                <mat-card-title (click)="openDialog(noticia)">{{noticia.noticia}}</mat-card-title>
                <mat-card-subtitle>{{noticia.entradilla}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                    
                </p>
              </mat-card-content>
              <mat-card-footer>
                Creada por {{noticia.autor}} el día {{noticia.fecha}}
              </mat-card-footer>
        </mat-card></td>
    </tr>
</table>
<ng-container *ngIf="noticias.length===0">No hay noticias</ng-container>
