<h1>SOLICITUD DE MAPA</h1>
<div class="example-container">
    <div [formGroup]="solicitudForm">
        <mat-form-field appearance="fill" *ngIf="this.id==undefined">
            <mat-label>Mapa</mat-label>
            <mat-select formControlName='mapa' required>
              <mat-option value="{{mapa.idmapa}}" *ngFor="let mapa of mapas;">
                  {{mapa.denominacion}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="this.solicitudForm.get('mapa').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="this.id!=undefined">
            <mat-label>Mapa</mat-label>
            <input matInput formControlName="mapa" placeholder="{{nombre}}" value="{{id}}">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Solicitante</mat-label>
            <input matInput formControlName="solicitante" required>
            <mat-error *ngIf="this.solicitudForm.get('solicitante').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Responsable</mat-label>
            <input matInput formControlName="responsable" required  matTooltip="Si el solicitante es una entidad indicar la persona responsable">
            <mat-error *ngIf="this.solicitudForm.get('responsable').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="this.solicitudForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" required>
            <mat-error *ngIf="this.solicitudForm.get('telefono').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Actividad</mat-label>
            <input matInput formControlName="actividad" required>
            <mat-error *ngIf="this.solicitudForm.get('actividad').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
             
        <mat-form-field appearance="fill">
            <mat-label>Fecha inicio</mat-label>
            <input matInput [matDatepicker]="fini" formControlName="fini" required>
            <mat-datepicker-toggle matSuffix [for]="fini"></mat-datepicker-toggle>
            <mat-datepicker #fini></mat-datepicker>
            <mat-error *ngIf="this.solicitudForm.get('fini').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fecha fin</mat-label>
            <input matInput [matDatepicker]="ffin" formControlName="ffin" required>
            <mat-datepicker-toggle matSuffix [for]="ffin"></mat-datepicker-toggle>
            <mat-datepicker #ffin></mat-datepicker>
            <mat-error *ngIf="this.solicitudForm.get('ffin').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
              
        <mat-form-field appearance="fill">
            <mat-label>Nº de participantes</mat-label>
            <input matInput formControlName="numero" required  matTooltip="Número estimado de participantes">
            <mat-error *ngIf="this.solicitudForm.get('numero').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Formato</mat-label>
            <mat-select formControlName='formato' required>
              <mat-option value=".JPG">.JPG</mat-option>
              <mat-option value=".PDF">.PDF</mat-option>
            </mat-select>
            <mat-error *ngIf="this.solicitudForm.get('formato').invalid">Debe introducir un valor</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Otros datos</mat-label>
            <textarea matInput formControlName='otros'></textarea>
        </mat-form-field>

  <mat-divider></mat-divider>
  <mat-checkbox class="example-margin" formControlName="acepto">
      MEDIANTE ESTA SOLICITUD SOY CONSCIENTE Y ACEPTO LAS SIGUIENTES CONDICIONES GENERALES:
  </mat-checkbox>
</div>
</div>
		

		<ul>

			<li>Sólo se permite la reproducción del archivo recibido para los usos especificados y en la fecha indicada en el permiso.</li>

			<li>Se prohíbe la copia, modificación y distribución del archivo. Cualquier modificación de la obra cartográfica ha de ser realizada por técnicos del CRON.</li>

			<li>La posesión y uso del mapa no implica el derecho de acceso y uso de los terrenos representados en el mismo.</li>

            <li>En cumplimiento de lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, le informamos que sus datos quedarán almacenados en un fichero, cuyo responsable es la Entidad Deportiva CLUB RIOJANO DE ORIENTACION EN LA NATURALEZA, debido a nuestra actividad deportiva, así como para gestionar el uso de los mapas y para mantenerle informado de las novedades relacionadas con el ámbito de nuestra actividad. Así mismo le informamos que usted puede ejercitar sus derechos de acceso, rectificación, cancelación y oposición dirigiéndose por correo electrónico a info@orientacron.es o por escrito a C/General Vara de Rey, 33 (Establecimiento comercial "La abundancia") 26002 Logroño (La Rioja).</li>
        </ul>

  <button mat-raised-button color="primary" type="submit" [disabled]="!this.solicitudForm.valid" (click)="onSubmit()">Submit</button>
  <button mat-raised-button color="primary" type="submit" (click)="val('listado')">Ir al listado</button>
<br><br>