<table width="100%">
	<tr>
		<td class="title_naranja" align="center"><b>ESCUELA DE BRUJULINES</b></td>
	</tr>
</table>
<div class='contents'>
<table>
	<tr>
		<td class="title_naranja" align="left">Presentaci&oacute;n</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left"><br>Un mapa es una representaci&oacute;n del espacio. Utilizamos diversos tipos de mapas para transmitir informaci&oacute;n: topogr&aacute;ficos, urbanos, de carreteras, geol&oacute;gicos, atmosf&eacute;ricos... El mapa utiliza un tipo de lenguaje comparable a las letras, las partituras musicales, los n&uacute;meros, la pintura...</td>
	</tr>	
	<tr>
		<td class="txt_11_negro" align="left"><br>Desde el CRON consideramos muy importante el aprendizaje del "idioma de los mapas" como parte del desarrollo integral de la persona, y lo hacemos de forma l&uacute;dica, jugando a la orientaci&oacute;n. Este deporte b&aacute;sicamente consiste en encontrar unas balizas con ayuda de un mapa y conjuga de forma &uacute;nica la actividad intelectual con la f&iacute;sica, añadiendo el aliciente de realizarse al aire libre y en plena naturaleza.</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left"><br>¿Quieres aprender a leer mapas? ¿Te apuntas a jugar con nosotros?</td>
	</tr>
	<tr>
		<td class="title_naranja" align="left"><br>Participantes</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left"><br>Socias y socios del CRON de cualquier edad y condici&oacute;n f&iacute;sica y sus acompañantes, siempre que tengan ganas de aprender y pas&aacute;rselo bien.</td>
	</tr>
	<tr>
		<td class="title_naranja" align="left"><br>Contacta con nosotros</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left"><br>Escr&iacute;benos a: <a href="mailto:info@orientacron.es">info@orientacron.es</a></td>
	</tr>
	<tr align="center">	
		<td>
			<br><img src="../../../../assets/images/brujulin_texto.jpg" border="0" width="360" height="270">				
		</td>
	</tr>
</table>
</div>
