<h1><b>ESCUELA DE BRUJULINES</b></h1>

<p>Un mapa es una representación del espacio. Utilizamos diversos tipos de mapas para transmitir información: topográficos, urbanos, de carreteras, geológicos, atmosf&eacute;ricos... El mapa utiliza un tipo de lenguaje comparable a las letras, las partituras musicales, los números, la pintura...</p>
	<p>Desde el CRON consideramos muy importante el aprendizaje del "idioma de los mapas" como parte del desarrollo integral de la persona, y lo hacemos de forma lúdica, jugando a la orientación. Este deporte básicamente consiste en encontrar unas balizas con ayuda de un mapa y conjuga de forma única la actividad intelectual con la física, añadiendo el aliciente de realizarse al aire libre y en plena naturaleza.</p>
	<p>¿Quieres aprender a leer mapas? ¿Te apuntas a jugar con nosotros?</p>
	<p><b>Participantes</b></p>
	<p>Socias y socios del CRON de cualquier edad y condición física y sus acompañantes, siempre que tengan ganas de aprender y pasárselo bien.</p>
	<p><b>Contacta con nosotros</b></p>
	<p>Escríbenos a: <a mat-button href="mailto:info@orientacron.es">info@orientacron.es</a></p>
	<p><img src="../../../../assets/images/brujulin_texto.jpg" border="0" width="360" height="270"></p>