<h1><b>CLUB</b></h1>
<h2>Nuestro club</h2>
<p>El CRON nació en 2003 con el objetivo de agrupar a personas aficionadas al deporte de orientación en La Rioja y promocionar el mismo en esta comunidad.</p>
<p>El club lo componemos personas de todas las edades, nivel físico y técnico. Nuestro objetivo es divertirnos y convivir organizando y participando en carreras de orientación.</p>
	<p>Participamos en diversas competiciones de orientación: Liga Española, Liga Norte, Liga Aragonesa, O-Pyrene, Raids, Rogaines, carreras en bicicleta, pruebas internacionales...</p>
	<p>Y como organizadores destacan nuestras pruebas de Liga Norte, Raids, Rogaines, Juegos Escolares y diversos eventos de promoción.</p>
	<p>Nos hemos dedicado también al desarrollo cartográfico en La Rioja: tenemos mapas de orientación distribuidos por casi toda nuestra comunidad, y con idea de hacer muchos más.</p>
	<p>Además contamos con una ESCUELA DE BRUJULINES, donde podrás aprender a leer mapas y muchas más cosas del deporte de orientación, sin importar la edad o el nivel con el que comiences.</p>
	<p>Si te gusta perderte... ¡¡CONTACTA CON NOSOTROS!!</p>
	<p><a mat-button href="mailto:info@orientacron.es">info@orientacron.es</a></p>
	<p> <b>Junta directiva desde el 13/9/2016</b>
<br>PRESIDENTE: Alfonso Bustillo
<br>TESORERO: Nacho Burgos
<br>SECRETARIO: Víctor Fustero
<br>VOCALES: Javier Jiménez, Pablo Bustillo, Rubén Torrecilla y Adriana Flórez-Estrada 
<br><br>Actualmente somos 46 soci@s en el club, de los cuales tienen licencia federativa 30</p>

