<table width="100%">
	<tr>
		<td class="title_naranja" align="center"><b>ESCUELA DE BRUJULINES</b></td>
	</tr>
</table>
<div class='contents'>
<table>
	<tr>
		<td class="title_naranja" align="left">Objetivos y Filosof&iacute;a</td>
	</tr>
	<tr>
		<td class="txt_11_negro" align="left">
		<ul>
			<li>Ense&ntilde;ar la lectura e interpretaci&oacute;n de todo tipo de mapas y en especial los del deporte de orientaci&oacute;n</li>
			<li>Desarrollar las capacidades de orientaci&oacute;n espacial desde las edades m&aacute;s tempranas, siempre desde el juego y en un entorno l&uacute;dico y cooperativo</li>
			<li>Acompa&ntilde;ar en el inicio y aprendizaje del deporte de orientaci&oacute;n. Ense&ntilde;anza de las normas b&aacute;sicas de este deporte, el juego limpio y la deportividad. El deporte es una escuela de valores</li>
			<li>Fomentar el correcto desarrollo de la estructuraci&oacute;n y orientaci&oacute;n espacial, estructura corporal, lateralidad, psicomotricidad y pensamiento abstracto</li>
			<li>Fomentar desde las edades m&aacute;s tempranas el desarrollo de h&aacute;bitos deportivos saludables y la mejora de las cualidades f&iacute;sicas b&aacute;sicas</li>
			<li>Fomentar la autonom&iacute;a personal, la toma de decisiones individual y conjunta y la gesti&oacute;n de los aciertos y errores</li>
			<li>Educar en el trabajo en equipo</li>
			<li>Conocer de una forma saludable y divertida el entorno natural y rural. Fomentar el respeto y cuidado del mismo</li>
			<li>Ense&ntilde;anza de t&eacute;cnicas b&aacute;sicas y avanzadas de orientaci&oacute;n. Pr&aacute;ctica y evaluaci&oacute;n enfocadas al aprendizaje y mejora del rendimiento, sin obsesionarnos por los resultados o el puesto en una competici&oacute;n</li>
			<li>Entrenamiento f&iacute;sico y t&eacute;cnico de alto nivel para quien desee competir</li>
			<li>Formaci&oacute;n t&eacute;cnica en deporte de orientaci&oacute;n: cartograf&iacute;a, trazados, coordinaci&oacute;n de pruebas, control de tiempos, normativa...</li>
		</ul>
		
		</td>
	</tr>
	<tr align="center">	
		<td>
			<br><img src="../../../../assets/images/brujulin_texto.jpg" border="0" width="360" height="270">				
		</td>
	</tr>
</table>
</div>
