<h1><b>ESCUELA DE BRUJULINES</b></h1>
<h2>Objetivos y Filosofía</h2>
<ul>
	<li>Enseñar la lectura e interpretación de todo tipo de mapas y en especial los del deporte de orientación</li>
	<li>Desarrollar las capacidades de orientación espacial desde las edades más tempranas, siempre desde el juego y en un entorno lúdico y cooperativo</li>
	<li>Acompañar en el inicio y aprendizaje del deporte de orientación. Enseñanza de las normas básicas de este deporte, el juego limpio y la deportividad. El deporte es una escuela de valores</li>
	<li>Fomentar el correcto desarrollo de la estructuración y orientación espacial, estructura corporal, lateralidad, psicomotricidad y pensamiento abstracto</li>
	<li>Fomentar desde las edades más tempranas el desarrollo de hábitos deportivos saludables y la mejora de las cualidades físicas básicas</li>
	<li>Fomentar la autonomía personal, la toma de decisiones individual y conjunta y la gestión de los aciertos y errores</li>
	<li>Educar en el trabajo en equipo</li>
	<li>Conocer de una forma saludable y divertida el entorno natural y rural. Fomentar el respeto y cuidado del mismo</li>
	<li>Enseñanza de técnicas básicas y avanzadas de orientación. Práctica y evaluación enfocadas al aprendizaje y mejora del rendimiento, sin obsesionarnos por los resultados o el puesto en una competición</li>
	<li>Entrenamiento físico y técnico de alto nivel para quien desee competir</li>
	<li>Formación técnica en deporte de orientación: cartografía, trazados, coordinación de pruebas, control de tiempos, normativa...</li>
</ul>
<br><img src="../../../../assets/images/brujulin_texto.jpg" border="0" width="360" height="270">				