<ng-container>
<tr>	
    <td>
        <a href="http://liganortecron.blogspot.com.es/" target="_blank"><img src="../../../../assets/images/ElRasillo2019.jpg" border="0" width="106" height="80"></a>
        <a href="http://www.liganorteorientacion.org" target="_blank"><img src="../../../../assets/images/logo_liga_norte_beige.jpg" border="0" width="80" height="60"></a>
        <a href="http://www.raidabentura.com/" target="_blank"><img src="../../../../assets/images/LINRA_logo.jpg" border="0" width="218" height="80"></a>
        </td>
</tr>
<tr>	
    <td>
    <a href="http://www.fedo.org" target="_blank"><img src="../../../../assets/images/fedo.gif" border="0" width="128" height="60"></a>
    <a href="http://www.larioja.org/juegos-deportivos/es/deporte/orientacion" target="_blank"><img src="../../../../assets/images/jjdd.jpg" border="0" width="80" height="80"></a>	
    <a href="http://wodlarioja.blogspot.com.es/" target="_blank"><img src="../../../../assets/images/Logo_OficialWOD.jpg" border="0" width="200" height="80"></a>
                                
    </td>
</tr>
</ng-container>