<div *ngIf="this.submenu === 2">
	<mat-toolbar>
        <button mat-menu-item (click)="val('presentacion')">Presentación</button>
        <button mat-menu-item (click)="val('tecnicos')">Técnicos responsables</button>
        <button mat-menu-item (click)="val('objetivos')">Objetivos y filosofía</button>
        <button mat-menu-item (click)="val('areas')">Áreas de enseñanza</button>
        <button mat-menu-item (click)="val('niveles')">Niveles de los cronetes</button>
    </mat-toolbar>
</div> 
<div *ngIf="this.submenu === 3">
    <mat-toolbar>
        <button mat-menu-item (click)="val('que')">¿Qué es?</button>
        <button mat-menu-item (click)="val('primera')">Primera carrera</button>
        <button mat-menu-item (click)="val('hoja')">Hoja de descripción</button>
        <button mat-menu-item (click)="val('descargas')">Descargas</button>
    </mat-toolbar>
</div>
<div *ngIf="this.submenu === 5">
    <mat-toolbar>
        <button mat-menu-item (click)="val('inicio')">Inicio</button>
        <button mat-menu-item (click)="val('mi')">Mi primer Raid</button>
        <button mat-menu-item (click)="val('programas')">Programa</button>
        <button mat-menu-item (click)="val('normativa')">Normativa</button>
        <button mat-menu-item (click)="val('informacion')">Información práctica</button>
        <button mat-menu-item (click)="val('boletines')">Boletines y libros de ruta</button>
        <button mat-menu-item (click)="val('inscripciones')">Inscripciones</button>
        <button mat-menu-item (click)="val('clasificaciones')">Clasificaciones</button>
    </mat-toolbar>
</div>
<div *ngIf="this.submenu === 6">
	<mat-toolbar>
        <button mat-menu-item (click)="val('actividades')">Actividades</button>
        <button mat-menu-item (click)="val('guia')">Guía</button>
    </mat-toolbar>
</div>
<div *ngIf="this.submenu === 7">
    <mat-toolbar>
        <button mat-menu-item (click)="val('hoy')">Hoy</button>
        <button mat-menu-item (click)="val('semana')">Última semana</button>
        <button mat-menu-item (click)="val('mes')">Último mes</button>
        <button mat-menu-item (click)="val('todas')">Todas</button>
    </mat-toolbar>
</div>
