<h1><b>PROGRAMA</b></h1>
	<p>Sábado de 29 de junio de 2019 </p>
	<p>08:00 a 09:00 Recepción de participantes. Por determinar. (La Rioja)</p>
	<p>09:15 Recogida de las bolsas para transiciones</p>
	<p>09:30 Brieffing modalidad aventura</p>
	<p>10:00 Inicio del III RAID VALLE DEL IREGUA. MODALIDAD AVENTURA</p>
	<p>17:00 Cierre de meta. MODALIDAD aventura</p>
	<p>17:30 Duchas y comida</p>
	<p> 18:00 Entrega de premios del III RAID VALLE DEL IREGUA</p>
<img alt="" src="../../../../assets/raid/raid3.jpg" width="650">
