<mat-tab-group>
    <mat-tab label="Noticias"> <app-admin-noticias></app-admin-noticias> </mat-tab>
    <mat-tab label="Mis datos"> <app-admin-datos></app-admin-datos> </mat-tab>
    <mat-tab label="Enlaces"> <app-admin-enlaces></app-admin-enlaces> </mat-tab>
    <mat-tab label="Ver correos"> <app-admin-correos></app-admin-correos> </mat-tab>
    <mat-tab label="Contraseña"> <app-admin-pass></app-admin-pass> </mat-tab>
    <mat-tab label="Gestión de mapas"> <app-admin-mapas></app-admin-mapas> </mat-tab>
  </mat-tab-group>
