<h1><b>HOJA DE DESCRIPCI&Oacute;N DE CONTROLES</b></h1>

<div class='contents'>
<table width="100%">
	<tr>
		<td class="txt_11_negro" valign="top"><img src="../../../../assets/controles/image001.jpg" width="200" height="360"></td>
		<td class="txt_11_negro" align="left" valign="top">
		<table border="1" class="txt_11_negro" bgcolor="black">
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">Ejemplo de Descripción de Controles para evento IOF</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">Categorías: M45, M50, W21 (H45, H50, D21)</td>
			</tr>
			<tr bgcolor="white">
				<td class="txt_11_negro" height="22">Recorrido nº 5</td>
				<td class="txt_11_negro">Longitud 7.6 km</td>
				<td class="txt_11_negro">Desnivel 210</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">Salida &nbsp;&nbsp;&nbsp;&nbsp; Unión carretera y muro</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">1  101   Curva de pantano estrecho</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">2  212   Piedra del noroeste, de 1 metro de altura</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">3  135   Entre vegetaciones espesas</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">4  246   Depresión del centro, parte este</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">5  164   Ruina del este, parte oeste</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">Ruta señalizada 120 mts desde el control</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">6  185   Muro de piedra en ruinas, esquina sureste (fuera)</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">7  178   Espolón, al pie noroeste</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">8  147   Cortado de arriba, 2 mts de alto, al pie</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">9  109   Cruce de caminos</td>
			</tr>
			<tr bgcolor="white">
				<td colspan="3" class="txt_11_negro" height="22">Ruta señalizada 250m de último control a meta</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2">Formato de la hoja de descripción de controles</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">La hoja de descripción de controles para una carrera de orientación contiene la siguiente información:
		<ul>
		<li>Encabezado</li>
		<li>Localización de la salida</li>
		<li>Descripción de cada control individualmente, incluyendo cualquier instrucción especial, como la longitud y tipo de cualquier ruta marcada durante la carrera</li>
		<li>Tipo de ruta del último control a la meta</li>
		</ul>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2">Encabezado</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Nombre de la competición.<br>Categorías (línea opcional).<br>Código de la carrera; longitud de la carrera en kilómetros, ajustando a la décima más cercana (0’1 km); desnivel acumulado (desnivel a subir por la mejor ruta según el trazador) ajustando a los 5 mts más cercanos.
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2">Localización de la salida</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Mostrado en la primera línea de las descripciones, usando una descripción como si fuese un elemento de control.
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2">Descripción individual de los controles</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Los controles están en el orden en que serán visitados, y puede incluir cualquier instrucción especial, como la longitud y tipo de cualquier ruta marcada durante la carrera. Se debe utilizar una línea más gruesa cada cuatro descripciones, así como en cada lado de cada instrucción especial.
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" valign="top"><img src="../../../../assets/controles/image003.jpg" width="200" height="82"></td>
		<td class="txt_11_negro" align="left" valign="top">A	Número de control<br>
B	Código de control<br>
C	Cuál entre objetos similares <br>
D	Elemento del control<br>
E	Apariencia<br>
F	Dimensiones/Combinaciones<br>
G	Localización de la baliza<br>
H	Otra información<br>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2">Explicación de las columnas</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Cada control es descrito de la siguiente manera:
		<ul>
		<li><b>Columna A: Número del control</b><br>
La numeración de los controles es la secuencia en la que deben ser visitados, a menos que la descripción sea para una carrera tipo Score.
</li>
		<li><b>Columna B: Código de control</b><br>
El código de control debe ser un número mayor de 30.
</li>
		<li><b>Columna C: Cuál entre objetos similares</b><br>
Esta columna es utilizada cuando hay más de un objeto similar dentro del círculo de control; por ejemplo, el del sureste.
</li>
		<li><b>Columna D: Elemento del control</b><br>
Corresponde al elemento que está mostrado en el mapa, en el centro del círculo que define el lugar del control; ej. Claro, Piedra. La descripción para cada control está basada en las Especificaciones Internacionales para Mapas de Orientación (International Specifications for Orieteering Maps, ISOM 2000).
</li>
		<li><b>Columna E: Apariencia</b><br>
Proporciona más información sobre la naturaleza del elemento si es necesaria; por ejemplo, cubierto de vegetación, en ruinas. 
En ciertas circunstancias esta columna es usada también para el segundo elemento de control cuando la descripción lo requiere.
</li>
		<li><b>Columna F: Dimensiones/Combinaciones</b><br>
Las dimensiones del elemento deben ser dadas cuando el tamaño del elemento de control en el mapa está representado simbólicamente y no a escala.
Columna también utilizada para la combinación de dos símbolos (cruce; unión).

</li>
		<li><b>Columna G: Localización de la baliza</b><br>
Posición de la baliza respecto al elemento; por ejemplo, esquina oeste (fuera); al pie sur.

</li>
		<li><b>Columna H: Otra información</b><br>
Otra información que puede ser de importancia al competidor; por ejemplo, radio control; avituallamiento.
</li>
		</ul>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2">Instrucciones especiales</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Estas líneas van dentro de la descripción de controles y dan información específica sobre el tipo de ruta que debe ser seguida en ese punto; por ejemplo, ruta señalizada de 50m desde el control; punto de cruce obligatorio.
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2">Tipo de ruta desde el último control hasta la meta</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Esta línea muestra la distancia del último control a la meta, y el tipo de cualquier ruta señalizada hacia la meta.
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2">Explicación de los símbolos</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Al dar un número de referencia ISOM se muestra la relación con el símbolo del mapa como se define en las especificaciones ISOM 2000.
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2"><b>Columna C: Cuál entre objetos similares</b></td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
			</tr>
			<tr>
				<td rowspan="5"><img src="../../../../assets/controles/image005.jpg" width="70" height="215"></td>
				<td class="txt_11_negro">El del norte</td>
				<td class="txt_11_negro">El de más al norte de dos elementos similares, o el más al norte de varios elementos similares.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">El del sureste</td>
				<td class="txt_11_negro">El de más al sureste de dos elementos similares, o el de más al sureste de varios elementos similares.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">El de arriba</td>
				<td class="txt_11_negro">Cuando el elemento de control está directamente encima de un elemento similar.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">El de abajo</td>
				<td class="txt_11_negro">Cuando el elemento de control está directamente debajo de un elemento similar.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">El del medio</td>
				<td class="txt_11_negro">Cuando el elemento de control es el del medio de entre un número de elementos similares.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2"><b>Columna D: Elemento de control</b></td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
				<td class="txt_11_negro"><b>Isom</b></td>
			</tr>
			<tr>
				<td rowspan="5"><img src="../../../../assets/controles/image007.jpg" width="70" height="215"></td>
				<td class="txt_11_negro">Terraza</td>
				<td class="txt_11_negro">Zona plana en una ladera.</td>
				<td class="txt_11_negro"></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Espolón</td>
				<td class="txt_11_negro">Saliente del terreno o “nariz” destacando sobre el terreno circundante.</td>
				<td class="txt_11_negro"></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Reentrante</td>
				<td class="txt_11_negro">Entrante en el terreno; vaguada; lo contrario a un espolón.</td>
				<td class="txt_11_negro"></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Terraplén</td>
				<td class="txt_11_negro">Cambio abrupto en el nivel del suelo que puede ser claramente distinguido de sus alrededores.</td>
				<td class="txt_11_negro"><b>106</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Cantera</td>
				<td class="txt_11_negro">Trabajo en grava, arena o piedra, en terreno plano o inclinado.</td>
				<td class="txt_11_negro"><b>106</b></td>
			</tr>
			<tr>
				<td rowspan="4"><img src="../../../../assets/controles/image009.jpg" width="70" height="184"></td>
				<td class="txt_11_negro">Muro de tierra</td>
				<td class="txt_11_negro">Estrecho muro de tierra que se eleva sobre el terreno circundante; puede estar hecho de piedras parcialmente, generalmente hecho por el hombre. Usado con el símbolo 8.10 para indicar un muro de tierra en ruina.</td>
				<td class="txt_11_negro"><b>107-108</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Zanja de erosión</td>
				<td class="txt_11_negro">Vaguada de erosión o zanja, normalmente seca.</td>
				<td class="txt_11_negro"><b>109</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Pequeño surco de erosión</td>
				<td class="txt_11_negro">Pequeño surco de erosión o zanja, normalmente seca. </td>
				<td class="txt_11_negro"><b>110</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Colina</td>
				<td class="txt_11_negro">Punto elevado. Dibujado en el mapa con curvas de nivel.</td>
				<td class="txt_11_negro"><b>101-111</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image011.jpg" width="70" height="132"></td>
				<td class="txt_11_negro">Cota</td>
				<td class="txt_11_negro">Pequeña y obvia elevación. Utilizado con el símbolo 8.5 para indicar cota rocosa.</td>
				<td class="txt_11_negro"><b>112-113</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Collado</td>
				<td class="txt_11_negro">Punto bajo entre dos puntos más altos.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Depresión</td>
				<td class="txt_11_negro">Depresión u hoyo rodeada de zonas más elevadas por todas partes. Dibujado en el mapa con curvas de nivel.</td>
				<td class="txt_11_negro"><b>114</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image013.jpg" width="70" height="132"></td>
				<td class="txt_11_negro">Pequeña depresión</td>
				<td class="txt_11_negro">Pequeña, suave depresión natural u hoyo rodeada de zonas más elevadas por todas partes. </td>
				<td class="txt_11_negro"><b>115</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Hoyo/foso</td>
				<td class="txt_11_negro">Agujero u hoyo con lados de inclinación variable. Generalmente hecho por el hombre. Usado con el símbolo 8.5 para indicar un agujero rocoso.</td>
				<td class="txt_11_negro"><b>116-204</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Terreno irregular</td>
				<td class="txt_11_negro">Terreno claramente irregular, con elementos demasiado pequeños o numerosos para ser dibujados individualmente; incluye madrigueras.</td>
				<td class="txt_11_negro"><b>117</b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_negro" align="left" colspan="2">Rocas y piedras (ISOM sección 4.2)</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
				<td class="txt_11_negro"><b>Isom</b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image015.jpg" width="70" height="88"></td>
				<td class="txt_11_negro">Cortado, cara rocosa</td>
				<td class="txt_11_negro">Cortado o cara rocosa. Puede ser pasable o impasable.</td>
				<td class="txt_11_negro"><b>201-203</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Pilar rocoso</td>
				<td class="txt_11_negro">Saliente natural de roca alto.</td>
				<td class="txt_11_negro"><b>202</b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image017.jpg" width="70" height="88"></td>
				<td class="txt_11_negro">Cueva</td>
				<td class="txt_11_negro">Agujero en una cara rocosa o en un lateral de una ladera, que conduce con frecuencia a trabajos subterráneos.	</td>
				<td class="txt_11_negro"><b>205</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Piedra</td>
				<td class="txt_11_negro">Bloque rocoso o piedra prominente y libre del terreno.</td>
				<td class="txt_11_negro"><b>206-207</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image019.jpg" width="70" height="146"></td>
				<td class="txt_11_negro">Zona rocosa</td>
				<td class="txt_11_negro">Área cubierta de tantas rocas que no pueden ser cartografiadas individualmente.</td>
				<td class="txt_11_negro"><b>208</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Piedras unidas</td>
				<td class="txt_11_negro">Pequeño y característico grupo de piedras tan unidas que no pueden ser cartografiadas individualmente.</td>
				<td class="txt_11_negro"><b>209</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Pedregal</td>
				<td class="txt_11_negro">Área cubierta con multitud de piedras y rocas.</td>
				<td class="txt_11_negro"><b>210</b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image021.jpg" width="70" height="88"></td>
				<td class="txt_11_negro">Afloramiento rocoso</td>
				<td class="txt_11_negro">Área de roca descubierta, sin tierra ni vegetación encima. Se puede correr por ella.</td>
				<td class="txt_11_negro"><b>212</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Pasaje estrecho</td>
				<td class="txt_11_negro">Pasaje entre dos cortados o caras rocosas enfrentados entre si.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_negro" align="left" colspan="2">Agua y pantanos (ISOM sección 4.3)</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2"><i>Cabe destacar que los símbolos de los elementos lineales relacionados con agua están inclinados de arriba a abajo de izquierda a derecha, así como los símbolos de los elementos lineales hechos por el hombre están inclinados de arriba a abajo de derecha a izquierda.</i>
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
				<td class="txt_11_negro"><b>Isom</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image023.jpg" width="70" height="146"></td>
				<td class="txt_11_negro">Lago</td>
				<td class="txt_11_negro">Gran área de agua, normalmente impasable.</td>
				<td class="txt_11_negro"><b>301</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Charca</td>
				<td class="txt_11_negro">Pequeña área de agua.</td>
				<td class="txt_11_negro"><b>302</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Agujero con agua</td>
				<td class="txt_11_negro">Agujero o depresión rellenos de agua.</td>
				<td class="txt_11_negro"><b>303</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image025.jpg" width="70" height="146"></td>
				<td class="txt_11_negro">Río, curso de agua</td>
				<td class="txt_11_negro">Curso de agua natural o artificial, con agua en movimiento o estancada.</td>
				<td class="txt_11_negro"><b>304-306</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Pequeño canal de agua</td>
				<td class="txt_11_negro">Pequeño canal de agua natural o artificial, que puede tener agua temporalmente.</td>
				<td class="txt_11_negro"><b>307</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Pantano estrecho</td>
				<td class="txt_11_negro">Pantano estrecho o pequeño hilo de agua, demasiado estrecho para ser dibujado en el mapa con el símbolo de pantano.</td>
				<td class="txt_11_negro"><b>308</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image027.jpg" width="70" height="146"></td>
				<td class="txt_11_negro">Pantano</td>
				<td class="txt_11_negro">Área permanentemente húmeda, con vegetación de pantano.</td>
				<td class="txt_11_negro"><b>309-311</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Terreno firme en pantano</td>
				<td class="txt_11_negro">Zona no empantanada dentro de un pantano o entre dos pantanos.</td>
				<td class="txt_11_negro"><b>309-311</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Pozo</td>
				<td class="txt_11_negro">Pozo que contiene agua o un manantial, claramente visible en el suelo. Con frecuencia con alguna estructura artificial alrededor..</td>
				<td class="txt_11_negro"><b>312</b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image029.jpg" width="70" height="87"></td>
				<td class="txt_11_negro">Manantial</td>
				<td class="txt_11_negro">Nacimiento de un curso de agua con flujo resaltable.</td>
				<td class="txt_11_negro"><b>313</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Tanque de agua</td>
				<td class="txt_11_negro">Contenedor de agua hecho por el hombre.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_negro" align="left" colspan="2">Vegetación (ISOM sección 4.4)</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
				<td class="txt_11_negro"><b>Isom</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image031.jpg" width="70" height="127"></td>
				<td class="txt_11_negro">Campo abierto</td>
				<td class="txt_11_negro">Área sin árboles. Pradera, césped, o campo. También páramo o brezal.</td>
				<td class="txt_11_negro"><b>401-403</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Campo semiabierto</td>
				<td class="txt_11_negro">Área de campo abierto con árboles y arbustos diseminados.</td>
				<td class="txt_11_negro"><b>402-404</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Esquina de bosque</td>
				<td class="txt_11_negro">Esquina o punta de un área boscosa que se proyecta sobre terreno abierto.</td>
				<td class="txt_11_negro"><b>405-406</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image033.jpg" width="70" height="127"></td>
				<td class="txt_11_negro">Claro</td>
				<td class="txt_11_negro">Pequeña área de tierra libre de árboles dentro del bosque.</td>
				<td class="txt_11_negro"><b>401-403</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Vegetación espesa</td>
				<td class="txt_11_negro">Pequeña área de bosque en la que los árboles o la vegetación baja es tan densa que dificultan el paso.</td>
				<td class="txt_11_negro"><b>410</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Seto</td>
				<td class="txt_11_negro">Seto artificial de árboles y arbustos difícil de cruzar.</td>
				<td class="txt_11_negro"><b>410</b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image035.jpg" width="70" height="82"></td>
				<td class="txt_11_negro">Límite de vegetación</td>
				<td class="txt_11_negro">Límite característico entre diferentes tipos de árboles o vegetación.</td>
				<td class="txt_11_negro"><b>416</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Bosquecillo</td>
				<td class="txt_11_negro">Pequeña área de árboles en terreno abierto.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image037.jpg" width="70" height="82"></td>
				<td class="txt_11_negro">Árbol característico</td>
				<td class="txt_11_negro">Árbol distintivo o característico en terreno abierto o bosque;  frecuentemente se proporciona información sobre su naturaleza.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Tocón, raíz</td>
				<td class="txt_11_negro">Es el tocón de un árbol. También la raíz arrancada de un árbol caído, con o sin el tronco.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_negro" align="left" colspan="2">Elementos hechos por el hombre (ISOM sección 4.5)</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
				<td class="txt_11_negro"><b>Isom</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image039.jpg" width="70" height="127"></td>
				<td class="txt_11_negro">Carretera</td>
				<td class="txt_11_negro">Superficie asfaltada o pista de tierra, acondicionada para vehículos en condiciones climatológicas normales.</td>
				<td class="txt_11_negro"><b>501-504</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Camino/pista</td>
				<td class="txt_11_negro">Ruta visible hecha por personas o animales. Los caminos pueden ser transitados por vehículos todoterreno.</td>
				<td class="txt_11_negro"><b>505-508</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Cortafuegos</td>
				<td class="txt_11_negro">Línea clara en el bosque, sin un camino que transcurra a lo largo de la misma.</td>
				<td class="txt_11_negro"><b>509</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image041.jpg" width="70" height="127"></td>
				<td class="txt_11_negro">Puente</td>
				<td class="txt_11_negro">Punto de cruce sobre un curso de agua o sobre cualquier otro elemento linear.</td>
				<td class="txt_11_negro"><b>512-513</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Tendido eléctrico</td>
				<td class="txt_11_negro">Cables de un tendido eléctrico, teléfonos, teleférico o telesilla.</td>
				<td class="txt_11_negro"><b>516-517</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Poste de tendido</td>
				<td class="txt_11_negro">Poste o pilar de un tendido eléctrico, de teléfonos, teleférico o telesilla.	</td>
				<td class="txt_11_negro"><b>516-517</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image043.jpg" width="70" height="127"></td>
				<td class="txt_11_negro">Túnel</td>
				<td class="txt_11_negro">Paso subterráneo bajo carreteras, vías, etc.</td>
				<td class="txt_11_negro"><b>518</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Muro de piedra</td>
				<td class="txt_11_negro">Muro de piedra delimitador o banco revestido de piedra. Usado con el símbolo 8.10 indica un muro de piedra en ruinas.</td>
				<td class="txt_11_negro"><b>519-521</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Valla</td>
				<td class="txt_11_negro">Valla delimitadora, de metal o madera. Usado con el símbolo 8.10 indica una valla en ruinas.</td>
				<td class="txt_11_negro"><b>522-524</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image045.jpg" width="70" height="127"></td>
				<td class="txt_11_negro">Punto de paso</td>
				<td class="txt_11_negro">Paso a través o por encima de un muro, valla o tubería, mediante una puerta o algo similar.</td>
				<td class="txt_11_negro"><b>525</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Construcción</td>
				<td class="txt_11_negro">Estructura de madera, ladrillo o piedra.</td>
				<td class="txt_11_negro"><b>526</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Área pavimentada</td>
				<td class="txt_11_negro">Área asfaltada o pavimentada usada como aparcamiento o con otros fines.</td>
				<td class="txt_11_negro"><b>529</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image047.jpg" width="70" height="127"></td>
				<td class="txt_11_negro">Ruina</td>
				<td class="txt_11_negro">Restos de una construcción que se ha derruido.</td>
				<td class="txt_11_negro"><b>530</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Tubería</td>
				<td class="txt_11_negro">Tubería (gas, agua, petróleo, etc.) sobre el nivel del suelo.</td>
				<td class="txt_11_negro"><b>533-534</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Torre</td>
				<td class="txt_11_negro">Estructura alta de metal, madera o ladrillo, construida normalmente para vigilancia forestal.</td>
				<td class="txt_11_negro"><b>535-536</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image049.jpg" width="70" height="127"></td>
				<td class="txt_11_negro">Mojón señalizador</td>
				<td class="txt_11_negro">Montón de piedras o mojón hecho por el hombre. Montón señalizador, conmemorador de algún hecho, señal de límite o punto trigonométrico.</td>
				<td class="txt_11_negro"><b>537</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Pesebre, comedero</td>
				<td class="txt_11_negro">Construcción para guardar la comida del ganado.</td>
				<td class="txt_11_negro"><b>538</b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Escaleras</td>
				<td class="txt_11_negro">Escaleras de al menos dos o más peldaños.</td>
				<td class="txt_11_negro"><b>862</b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_negro" align="left" colspan="2">Objetos especiales</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
				<td class="txt_11_negro"><b>Isom</b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image051.jpg" width="70" height="82"></td>
				<td class="txt_11_negro">Objeto especial</td>
				<td class="txt_11_negro">Si se utiliza se debe dar a los corredores la explicación de su naturaleza en la información técnica previa a la carrera.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Objeto especial</td>
				<td class="txt_11_negro">Si se utiliza se debe dar a los corredores la explicación de su naturaleza en la información técnica previa a la carrera.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_negro" align="left" colspan="2">Objetos especiales del terreno</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Generalmente no se recomienda introducir símbolos locales. Si se utilizan símbolos locales en competiciones que pueden atraer a corredores de otros lugares se debe dar información sobre la naturaleza de los mismos a los participantes en la información técnica previa a la competición.<br>
Aquí mostramos los símbolos de esta categoría propuestos en las primeras especificaciones para la Descripcion de Controles IOF.
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
				<td class="txt_11_negro"><b>Isom</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image053.jpg" width="70" height="127"></td>
				<td class="txt_11_negro">Puesto de caza</td>
				<td class="txt_11_negro">Estructura unida a un árbol desde la que un tirador o un observador puede sentarse.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Lamedero de sal</td>
				<td class="txt_11_negro">Bloque de sal para animales (generalmente para ciervos).</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Carbonera</td>
				<td class="txt_11_negro">El claro remanente de un área donde se ha estado quemando carbón.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image055.jpg" width="70" height="82"></td>
				<td class="txt_11_negro">Plataforma</td>
				<td class="txt_11_negro">Pequeña área a nivel en una ladera; generalmente hecha por el hombre.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
			<tr>
				<td class="txt_11_negro">Hormiguero</td>
				<td class="txt_11_negro">Montón de hojas hecho por hormigas.</td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2"><b>Columna E: Apariencia</b></td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image057.jpg" width="70" height="132"></td>
				<td class="txt_11_negro">Suave</td>
				<td class="txt_11_negro">Cuando el elemento del control es más suave que elementos similares en el mismo área. Ej. vaguada, suave.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Profundo</td>
				<td class="txt_11_negro">Cuando el elemento del control es más profundo que elementos similares en el mismo área. Ej. hoyo, profundo.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Cubierto de vegetación</td>
				<td class="txt_11_negro">Cuando el elemento del control está parcialmente cubierto de vegetación baja o arbustos que no están indicados en el mapa. Ej. ruina, cubierta de vegetación.</td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image059.jpg" width="70" height="132"></td>
				<td class="txt_11_negro">Abierto, despejado</td>
				<td class="txt_11_negro">Cuando el elemento está en un área donde la cubierta de árboles es menor que en los alrededores y esto no está indicado en el mapa. Ej. pantano, abierto.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Rocoso, pedregoso</td>
				<td class="txt_11_negro">Cuando el elemento del control está en un área rocosa o pedregosa no indicada en el mapa. Ej. agujero, rocoso.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Empantanado</td>
				<td class="txt_11_negro">Cuando el elemento está en un área de suelo pantanoso no indicado en el mapa. Ej. vaguada, empantanada.</td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image061.jpg" width="70" height="82"></td>
				<td class="txt_11_negro">Arenoso</td>
				<td class="txt_11_negro">Cuando el elemento está en un área de suelo arenoso no indicado en el mapa. Ej. espolón, arenoso.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">De hoja fina</td>
				<td class="txt_11_negro">Cuando el árbol o árboles asociados con el elemento de control tienen hojas finas; ej. árbol característico, de hojas finas (acículas).</td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image063.jpg" width="70" height="82"></td>
				<td class="txt_11_negro">De hoja ancha</td>
				<td class="txt_11_negro">Cuando el árbol o árboles asociados con el elemento de control tienen hojas anchas; ej. bosquecillo, árboles de hoja ancha.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">En ruinas</td>
				<td class="txt_11_negro">Cuando el elemento se ha caído al nivel del suelo. Ej. valla, caída.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2"><b>Columna F: Dimensiones/Combinaciones</b></td>
	</tr>
	<tr>
		<td class="txt_14_negro" align="left" colspan="2">Dimensiones</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
			</tr>
			<tr>
				<td rowspan="4"><img src="../../../../assets/controles/image065.jpg" width="70" height="180"></td>
				<td class="txt_11_negro">Altura</td>
				<td class="txt_11_negro">Altura del elemento en metros.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Tamaño</td>
				<td class="txt_11_negro">Dimensiones horizontales del objeto en metros.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Altura en ladera</td>
				<td class="txt_11_negro">Altura en metros de un objeto en una ladera (lado de arriba/lado de abajo).</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Alturas de dos objetos</td>
				<td class="txt_11_negro">Alturas de dos elementos con el control entre ellos.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_negro" align="left" colspan="2">Combinaciones</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image067.jpg" width="70" height="92"></td>
				<td class="txt_11_negro">Cruce</td>
				<td class="txt_11_negro">El punto en el que dos elementos lineales se cruzan.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Unión</td>
				<td class="txt_11_negro">Punto en el que dos elementos lineales se juntan.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Cuado cualquiera de estos símbolos son usados en la columna F, los dos elementos con los que se cruzan o juntan deben ser mostrados en las columnas D y E. Por ejemplo:
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="50" align="right"><b>D&nbsp;&nbsp;</b></td>
				<td class="txt_11_negro" width="50" align="center"><b>E</b></td>
				<td class="txt_11_negro" width="50" align="left"><b>&nbsp;&nbsp;F</b></td>
				<td class="txt_11_negro"><b></b></td>
				<td class="txt_11_negro"><b></b></td>
			</tr>
			<tr>
				<td colspan="3" rowspan="2" align="center"><img src="../../../../assets/controles/image069.jpg" width="140" height="105"></td>
				<td class="txt_11_negro">Cruce de caminos</td>
				<td class="txt_11_negro">Punto en el que dos objetos lineales similares se cruzan.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Cruce camino/río</td>
				<td class="txt_11_negro">Punto en el que dos objetos lineales diferentes se cruzan.</td>
			</tr>
			<tr>
				<td colspan="3" rowspan="2" align="center"><img src="../../../../assets/controles/image071.jpg" width="140" height="105"></td>
				<td class="txt_11_negro">Unión de carreteras</td>
				<td class="txt_11_negro">Punto en el que dos objetos lineales similares se unen.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Unión río/pantano estrecho</td>
				<td class="txt_11_negro">Punto en el que dos objetos lineales diferentes se unen.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2"><b>Columna G: Localización de la baliza</b></td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Si no se utiliza ningún símbolo para indicar la localización de la baliza respecto al elemento de control, la baliza debe estar posicionada en el centro del elemento o tan  cerca como sea posible del mismo.
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image073.jpg" width="70" height="92"></td>
				<td class="txt_11_negro">Lado noreste</td>
				<td class="txt_11_negro">Utilizado cuando el objeto se extiende sobre la superficie del suelo. Ej. piedra, lado noreste; ruina, lado oeste.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Borde sureste</td>
				<td class="txt_11_negro">Utilizado cuando:</td>
			</tr>
			<tr>
				<td class="txt_11_negro"></td>
				<td class="txt_11_negro"></td>
				<td class="txt_11_negro">a)	El elemento se extiende hacia abajo desde la superficie del suelo circundante y el control está situado en el límite, a nivel del suelo; Ej. depresión, borde sureste.</td>
			</tr>
			<tr>
				<td class="txt_11_negro"></td>
				<td class="txt_11_negro"></td>
				<td class="txt_11_negro">b)	El elemento se extiende sobre un área significativa y el control está situado en el borde de esa área. Ej. pantano, borde oeste; claro, borde noroeste.</td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image075.jpg" width="70" height="132"></td>
				<td class="txt_11_negro">Parte oeste</td>
				<td class="txt_11_negro">Utilizado cuando el elemento se extiende sobre un área significativa y el control no está ni en el centro ni en uno de sus bordes; Ej. pantano, parte oeste; depresión, parte sureste.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Esquina este (dentro)</td>
				<td class="txt_11_negro">Utilizado cuando:<br>
a)	El límite de un elemento gira con un ángulo de entre 45º y 135º. Ej. Campo abierto, esquina este (dentro); ruina, esquina noroeste (fuera).
</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Esquina sur (fuera)</td>
				<td class="txt_11_negro">b) 	Un elemento linear gira con una esquina. Ej. valla, esquina sur         (dentro); muro de piedra, esquina suroeste (fuera).</td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image077.jpg" width="70" height="132"></td>
				<td class="txt_11_negro">Punta</td>
				<td class="txt_11_negro">Utilizado cuando el límite de un elemento gira con un ángulo menor de 45º; Ej. pantano, punta suroeste.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Curva</td>
				<td class="txt_11_negro">Utilizado cuando un elemento linear hace un pequeño cambio de dirección; ej. curva de camino; curva de río.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Extremo noroeste</td>
				<td class="txt_11_negro">Punto en el que un elemento lineal termina o empieza; ej. cortafuegos, extremo noroeste; muro de piedra, extremo sur.</td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image079.jpg" width="70" height="88"></td>
				<td class="txt_11_negro">Parte superior</td>
				<td class="txt_11_negro">Cuando el elemento se extiende sobre dos o más curvas de nivel y el control es situado cerca de lo alto; ej. surco de erosión, parte alta.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Parte baja</td>
				<td class="txt_11_negro">Cuando el elemento se extiende sobre dos o más curvas de nivel y el control es situado cerca de su parte baja; ej. vaguada, parte baja.</td>
			</tr>
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image081.jpg" width="70" height="88"></td>
				<td class="txt_11_negro">Encima</td>
				<td class="txt_11_negro">Cuando el control está situado en la parte más alta del elemento: ej. colina, encima.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Al pie (sin dirección)</td>
				<td class="txt_11_negro">Cuando el control está situado en la unión de la parte lateral del elemento con la superficie del área circundante; ej. cortado, al pie.</td>
			</tr>
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image083.jpg" width="70" height="142"></td>
				<td class="txt_11_negro">Al pie noreste</td>
				<td class="txt_11_negro">Como en el anterior, pero utilizado cuando el objeto es tan grande que permite colocar la baliza en más de un lugar alrededor suyo; ej. colina, al pie noreste.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Debajo</td>
				<td class="txt_11_negro">Cuando el control es colocado debajo del objeto; ej. tubería, debajo.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Entre</td>
				<td class="txt_11_negro">Cuando el control está localizado entre dos objetos; ej. entre vegetaciones espesas; entre piedra y cota.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Cuando el símbolo 11.15 “Entre”  se coloca en la columna G, los dos elementos entre los que está el control se deben mostrar separadamente en las columnas D y E. Por ejemplo:
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td rowspan="2" align="center"><img src="../../../../assets/controles/image085.jpg" width="140" height="102"></td>
				<td class="txt_11_negro" valign="bottom">Entre vegetaciones espesas</td>
				<td class="txt_11_negro" valign="bottom">Punto entre dos elementos similares.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Entre piedra y cota</td>
				<td class="txt_11_negro">Punto entre dos elementos diferentes.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2"><b>Columna H: Otra información</b></td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td class="txt_11_negro" width="90"><b>Ref. S&iacute;mbolo</b></td>
				<td class="txt_11_negro" width="90"><b>Nombre</b></td>
				<td class="txt_11_negro"><b>Descripci&oacute;n</b></td>
			</tr>
			<tr>
				<td rowspan="4"><img src="../../../../assets/controles/image087.jpg" width="70" height="180"></td>
				<td class="txt_11_negro">Puesto de primeros auxilios</td>
				<td class="txt_11_negro">Punto de control con ayuda de primeros auxilios.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Avituallamiento</td>
				<td class="txt_11_negro">Punto de control con avituallamiento.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Radio control	</td>
				<td class="txt_11_negro">Localización de un punto de radio control.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Punto de control</td>
				<td class="txt_11_negro">Presencia de controladores (control manual).</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2"><b>Informaciones especiales</b></td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Se puede proporcionar información especial a los corredores dentro del cuerpo de la hojita de descripción de controles.<br>
		Si una ruta señalizada ha de ser seguida desde un control en particular o entre controles:
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image089.jpg" width="200" height="57"></td>
				<td class="txt_11_negro">Seguir ruta señalizada, 60 mts desde el control.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Seguir ruta señalizada  de 300 mts entre controles.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Si hay un punto de paso obligatorio entre dos controles:
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image091.jpg" width="200" height="80"></td>
				<td class="txt_11_negro">Punto de paso obligatorio por puerta o similar.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Punto de paso obligatorio por puente.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Punto de paso obligatorio por túnel.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">En un cambio de mapa, o si hay que seguir una ruta señalizada entre un control y el cambio de mapa, lo que sigue a la última descripción de control de la primera parte de la carrera debe ser de esta manera:
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td rowspan="2"><img src="../../../../assets/controles/image093.jpg" width="200" height="57"></td>
				<td class="txt_11_negro">Cambio de mapa en el lugar de control.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">Seguir ruta señalizada, 50 mts hasta el cambio de mapa.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="txt_14_naranja" align="left" colspan="2"><b>Tipo de ruta desde el último control hasta la meta.</b></td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">Siguiendo a la última descripción, el tipo de ruta a seguir desde el último control hasta la meta se indica de una de las maneras siguientes:
		</td>
	</tr>
	<tr>
		<td class="txt_11_negro" colspan="2">
		<table border="0" width="100%" class="txt_11_negro">
			<tr>
				<td rowspan="3"><img src="../../../../assets/controles/image095.jpg" width="200" height="80"></td>
				<td class="txt_11_negro">400 m desde último control a meta. Seguir ruta señalizada.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">150 m desde último control a meta. Navegar hasta el balizado convergente y entonces seguir las cintas.</td>
			</tr>
			<tr>
				<td class="txt_11_negro">380 m desde último control a meta. Navegar hasta la meta. No hay señalización ni cintas.</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</div>