<h1><b>BOLET&Iacute;NES Y LIBRO DE RUTA</b></h1>
<a mat-raised-button href="../../../../assets/raid/boletin_2.pdf" target="_blank">BOLET&Iacute;N 2</a>
<br><br><a mat-raised-button href="../../../../assets/raid/ROAD_BOOK_III_RAID2.pdf" target="_blank">Libro de ruta</a><br><br>
<p>- Trataremos de reducir el impacto ambiental por lo que recomendamos que os llevéis vasos, y cubiertos.  Si pudiesemos contribuir incluso en los avituallamientos de tal manera que cada corredor use su propio recipiente (botell&iacute;n o bolsa de hidrataci&oacute;n) ser&iacute;a lo ideal. Los platos los pondremos nosotros.</p>
<p>- Llevad 10 euros o DNI de fianza para la pinza sportident los que necesit&eacute;is alquilarla.</p>
<p>MUCHA SUERTE Y QUE DISFRUT&Eacute;IS</p>
<a href="mailto:raid@orientacron.es">raid@orientacron.es</a>

